<h1>Produtos:</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Produto</th>
    <th>Peso</th>
    <th>Pallet Total</th>
    <th>AÇÕES</th>
  </tr>

  @for(produto of store.produtos(); track produto.id) {
  <tr>
    <td>{{ produto.id }}</td>
    <td>{{ produto.produto }}</td>
    <td>{{ produto.peso }}</td>
    <td>{{ produto.palletTotal }} / {{produto.palletsCarregados}} </td>
    <td>
      <button [disabled]="!store.caminhaoSelecionado() || produto.palletsCarregados >= produto.palletTotal || store.carroSelecionadoCheio()" (click)="addProdutoAoCaminhaoSelecionado(produto.id)">
        Adicionar produto ao caminhão selecionado
      </button>
    </td>
  </tr>
  }
</table>

<div class="divider"></div>

<h1>Veiculos:</h1>

@for(veiculo of store.veiculos(); track veiculo.id) {
  <div class="veiculo-card">
    <div class="veiculo-header" [ngClass]="{'caminhao-selecionado': veiculo.id === store.caminhaoSelecionado()}">
      <div>Veiculo:{{ veiculo.equipamento }}</div>
      <div>Equipamento: {{ veiculo.equipamento }}</div>
      <div>Peso: {{ veiculo.capacidadePeso }}</div>
      <div>Quantidade Pallets Veiculo: {{ calcularProdutosNoCaminhao(veiculo) }} / {{veiculo.quantidadePallets}}</div>
      <button (click)="selecionarCaminhao(veiculo.id)">
        Selecionar caminhao
      </button>
    </div>
  
    <div class="veiculo-body">
      <table style="width: 100%; text-align: left;">
        <tr>
          <th style="width: 50%;">Produto</th>
          <th style="width: 25%;">Qtd (Pallets)</th>
          <th style="width: 25%;">Peso (Kg)</th>
          <th style="width: 25%;">Acoes</th>
        </tr>
  
        @for(produto of veiculo.produtos; track produto.produtoId) {
        <tr>
          <td>{{ produto.produto }}</td>
          <td>
            <button (click)="store.subtrairQuantidadePalles(produto.produtoId)">-</button>
                {{ produto.quantidadePallets }} / {{ produto.palletsCarregados }}
            <button (click)="store.adicionarQuantidadePalles(produto.produtoId)">+</button>
          </td>
  
          <td>{{ produto.peso }}</td>
          <td>
      
        
            <button [disabled]="store.caminhaoSelecionado() !== veiculo.id" (click)="store.excluirProdutoDoVeiculo(produto.produtoId)">Excluir</button>
          </td>
        </tr>
      }
      </table>
    </div>
  </div>
}


